body {
    background: linear-gradient(132deg, #ec5218, #1665c1);
    background-size: 400% 400%;
    animation: BackgroundGradient 30s ease infinite;
  }

  
  @keyframes BackgroundGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
  }


h1 {
    margin: auto;
    text-align: center;
    color: #AAB2B1;
}

p {
    margin: auto;
    text-align: center;
    font-size: 1rem;
    color: bisque;
}

.text-container {
    position: relative;
    width: 40%;
    height: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
}


